@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";


@theme {
    --color-purple-100: #4a148c;
    --color-black-light: #0D1B2A;
    --color-white-50: #f5f5f5;
    --color-gray-200: #333333;
    --font-family-serif: 'Cinzel', serif;
    --font-family-poppins: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color:var(--color-black-light);
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@layer components {
    .noisy {
        @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
    }
    .nav-hover-btn {
        @apply relative ms-10  capitalize text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
    }

}
